{{> navbar }}

<div class="w-full md:w-1/3 mx-auto p-4 shadow-lg rounded-md" id="container-product-detail">
  {{!--
    Product detail
  --}}
</div>

<script type="module" src="/js/product/detail.js"></script>