<nav class="w-full py-4 border-neutral-500 border-b-2 flex items-center justify-between">
    <h1 class="font-extrabold text-xl uppercase">
        <a href="/products">Tercera Entrega</a>
    </h1>

    <ul class="font-bold flex items-center gap-4" id="container-links">
      {{!-- Enlaces --}}
    </ul>
</nav>

<div class="w-full mb-3 flex items-center justify-between">
    <h3>Bienvenido <span id="user"></spanid></h3>
    <form id="form-logout">
        <button class="bg-black w-60 py-2">Logout</button>
    </form>
</div>

<script type="module" src="/js/session/logout.js"></script>
<script type="module" src="/js/navbar/navbar.js"></script>