<div class="w-full h-screen flex flex-col items-center justify-center">

    <div class="bg-card w-full md:w-1/3 p-8 flex flex-col gap-4">
        <form class="flex flex-col items-center justify-center gap-4" id="form-login" autocomplete="off">
            <h2 class="text-2xl font-extrabold uppercase">E-commerce</h2>

            <div class="w-full flex flex-col items-center justify-center gap-6">
                <div class="w-full grid grid-cols-1 gap-2">
                    <div class="grid grid-cols-1 gap-1">
                        <label class="text-neutral-400" for="email">Email</label>
                        <input class="w-full p-2 outline-none focus:bg-neutral-600" type="email" name="email" placeholder="email@example.com" required>
                    </div>
                    <div class="grid grid-cols-1 gap-1">
                        <label class="text-neutral-400" for="password">Password</label>
                        <input class="w-full p-2 outline-none focus:bg-neutral-600" type="password" name="password" placeholder="********" required>
                    </div>
                </div>
                <button class="bg-black w-60 py-2" type="submit">Login</button>
            </div>
        </form>

        <div class="w-full flex flex-col items-center justify-center gap-4">
            <div class="w-1/3 mx-auto border-t border-t-neutral-500"></div>
            <a href="/api/session/github">
                <button class="w-60 py-2 border border-neutral-400 flex items-center justify-center gap-2">
                    <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                    </svg>
                    <span>login with github</span>
                </button>
            </a>
        </div>

        <div class="text-center">
            <p class="text-neutral-400"> you don't have an account yet? </p>
            <a href="/signup">
                <button class="text-white">Create new account</button>
            </a>
        </div>
    </div>

</div>

<script type="module" src="/js/session/signin.js"></script>