{{> navbar }}

<div class="w-full">
  <div class="w-full flex items-center justify-center">
    <h2 class="text-white text-xl font-extrabold uppercase border-cyan-300 border-b-8">Shopping Carts</h2>
  </div>
</div>

<div class="w-full my-2 rounded-md shadow-sm">
  <div class="overflow-x-auto">
    <table class="w-full text-sm text-left">
      <thead class="bg-neutral-800 text-xs uppercase whitespace-nowrap">
        <tr>
          <th class="py-3 px-6"></th>
          <th class="py-3 px-6">carts</th>
          <th class="py-3 px-6">Products</th>
        </tr>
      </thead>
      <tbody id="list-cart-container">
        {{!--
          List carts
        --}}
      </tbody>
    </table>
  </div>
</div>

<script type="module" src="/js/cart/table.js"></script>